/** {
	box-sizing: border-box;
}*/

body {
	background: url("image/beach-pollutant1.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
	/*color: white;*/
}

.container {
	max-width: 1320px;
}
.blog-header {
	
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}


/*.col-xxl {
	display: flex;
	height: 15vh;
	align-items: center;
	justify-content: center;
}*/





/*.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;

}

.fa:hover {
	opacity: 0.7;
}

.fa-twitter {
	background: #55ACEE;
	color: white;

}*/

.rounded {
	border-radius: .25rem !important;
}

.bg-blue {
	background-color: rgb(15,129,233);
}

.headline {

	place-items:center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.text-headline {
	display: table;
	font-family: 'Montserrat', sans-serif;
	/*font-size: 60px;*/
	color: white;
	background-color: #0f81e9;
	margin-bottom: 0;

}

.button-headline {
	margin: 10px 25px 10px 25px;
}

.container-lg {
	height: 40vh;
	background-color: white;
	/*color: white;*/
}

.main-content {
	margin: auto;
	border: 5px;
	border-color: red; 
}

.main-headline > p {
	max-width: inherit;
	color: #0f81e9;
	font-family: 'Montserrat', sans-serif;
}

.container-sm {
	/*max-width: inherit;*/
}

.blog-footer {
	padding: .25rem;
	background-color: #a4a4a485;
	text-align: center;
	border-top: 1px solid #e5e5e5; 
}